/* === Normalise === */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

img {
    border-style: none;
}

/* === Fonts === */
@font-face {
    font-family: "Norse Regular";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Norse.woff);
}

@font-face {
    font-family: "Norse Bold";
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/Norsebold.woff);
}

/* === Styles === */
h1, 
h2 {
    font-family: "Norse Bold";
}

#content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(70,37,30);
    background: linear-gradient(90deg, rgba(70,37,30,1) 0%, rgba(135,67,46,1) 100%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

.header {
    text-align: center;
    font-family: 'Norse Regular', 'Share Tech Mono', monospace;
    background-color: rgba(0, 0, 0, 0.1);
    width: 95vw;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.header a {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
    text-decoration: none;
    color: var(--font-color);
}

.header a img {
    height: 200px;
    width: auto;
}

.header-title {
    font-size: 4em;
    padding: 0;
    margin: 0.2em;
    border: 0;
}

.header-subtitle {
    font-size: 1.5em;
    padding: 0;
    margin: 0.1em;
    border: 0;
}

sub {
    font-size: 0.5em
}

.serving-img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 25em;
    width: auto;
}